In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [8]:
html_page_2018 = requests.get('https://lawcenter.giffords.org/scorecard/#rankings') #Make a get request to retrieve the page
soup_2018 = BeautifulSoup(html_page_2018.content, 'html.parser') #Pass the page contents to beautiful soup for parsing

In [9]:
container_2018 = soup_2018.find('table', id='rankings-table').tbody.find_all('td')

In [12]:
# Lists to store the scraped data in
states_2018 = []
grades_2018 = []


n_2018 = 5 # target every 5th element
for i,x in enumerate(container_2018):
    if i % n_2018 == 1: # return states at index 1
        states_2018.append(x.text) 
    if i % n_2018 == 2: # return grades at index 2
        grades_2018.append(x.text)

In [13]:
# create pandas dataframe for 2018 gun laws
laws_2018 = {'states': states_2018, 
             '2018': grades_2018}
df_2018 = pd.DataFrame(laws_2018)

In [14]:
html_page_2017 = requests.get('https://lawcenter.giffords.org/scorecard2017/') #Make a get request to retrieve the page
soup_2017 = BeautifulSoup(html_page_2017.content, 'html.parser') #Pass the page contents to beautiful soup for parsing

In [15]:
container_2017 = soup_2017.find('table', id='rankings-table').tbody.find_all('td')

In [17]:
# Lists to store the scraped data in
states_2017 = []
grades_2017 = []


n_2017 = 5 # target every 5th element
for i,x in enumerate(container_2017):
    if i % n_2017 == 1: # return states at index 1
        states_2017.append(x.text) 
    if i % n_2017 == 2: # return grades at index 2
        grades_2017.append(x.text)

In [18]:
# create pandas dataframe for 2017 gun laws
laws_2017 = {'states': states_2017, 
             '2017': grades_2017}
df_2017 = pd.DataFrame(laws_2017)

In [19]:
# join 2018 gun laws dataframe on 2017 gun laws dataframe
df_2017_2018 = df_2017.set_index('states').join(df_2018.set_index('states'))

In [20]:
# read 2012-2016 gun law data
df_2012_2016 = pd.read_excel('Gun_laws.xlsx')

In [21]:
# concat 2012-2016 gun laws with 2017-2018 gun laws
df = pd.concat([df_2012_2016, df_2017_2018], axis=1, join_axes=[df_2012_2016.index])

In [22]:
# # drop duplicate state column
# df = df.drop(columns='states')

In [23]:
df = df.drop(['2017', '2018'], axis=1)

In [24]:
df.head()

  State 2012 2013 2014 2015 2016 2017 2018
0    AL    D   D-    F    F    F    F    F
1    AK    F    F    F    F    F    F    F
2    AZ    F    F    F    F    F    F    F
3    AR    F    F    F    F    F    F    F
4    CA   A-   A-   A-   A-    A    A    A

In [26]:
# overwrite Gun_laws.xlsx with this new saves pandas dataframe
df.to_excel("Gun_laws.xlsx")