In [122]:
import pandas as pd
import numpy as np

In [123]:
# read our data from the 'K-12 SSDB (Public).xlsx' spreadsheet
df = pd.read_excel('K-12 SSDB (Public).xlsx')

In [124]:
# change column header to correct information
df.columns = df.iloc[0]

In [125]:
# remove the row that is now our column
df = df.drop([0])

In [126]:
# sort our data by most recent shooting
df = df.sort_index(axis=0, ascending=False)

In [127]:
# order the index now from 0 on
df = df.reset_index(drop=True)

In [128]:
# Change timestap to 'YYYY-MM-DD'
df['Date'] = df.Date.map(lambda x: x.strftime('%Y-%m-%d'))

In [129]:
# Create a column holding just the year of occurence ('YYYY')
df['Year'] = [date[0:4] for date in df['Date']]

In [130]:
# read our data from the 'Gun_laws.xlsx' spreadsheet
gun_laws_df = pd.read_excel('Gun_laws.xlsx')

In [131]:
# Set state as index
gun_laws_df = gun_laws_df.set_index('State')

In [136]:
# convert the columns from strings to integers 
df['Year'] = pd.to_numeric(df['Year'])

In [154]:
# getting grade based of year and state ---- testing that this works 
gun_laws_df[gun_laws_df.columns[gun_laws_df.columns == 2018]].loc['AL'].values[0]

'F'

In [157]:
# create a for loop that dynamically gets us each grade based on every year and every state
df['Grade'] = 'NaN'
grades = []
for idx, row in df.iterrows():
    try:
        grade = gun_laws_df[gun_laws_df.columns[gun_laws_df.columns == row['Year']]].loc[row['State']].values[0]
        grades.append(grade)  
        
    except:
        grades.append('NaN')
        
# create a new column called 'Grade' and insert the corresponding grades into the column
df['Grade'] = grades

In [156]:
df.head()

,Date,School,City,State,Reliability Score (1-5),Killed (includes shooter),Wounded,Total Injured/Killed Victims,Gender of Victims (M/F/Both),Victim's Affiliation w/ School,...,Shooter Name,Shooter Age,Shooter Gender,Shooter Race,Shooter Ethnicity,Shooter's Affiliation with School,Shooter had an accomplice who did not fire gun (Y/N),Hostages Taken (Y/N),Year,Grade
0,2019-02-17,Eaglecrest High School,Aurora,CO,4,1,0,1,Male,Principal/Vice-Principal,...,Marcus Johnson,31,M,Black,Not Hispanic or Latino,No Relation,N,N,2019,NaN
1,2019-02-14,V. Sue Cleveland High School,Rio Rancho,NM,4,0,0,0,No Victims,No Victims,...,Joshua Owen,16,M,Unknown,Unknown,Student,N,N,2019,NaN
2,2019-02-08,Frederick Douglass High School,Baltimore,MD,4,0,1,1,Male,Other Staff,...,Neil Davis,25,M,Black,Not Hispanic or Latino,No Relation,N,N,2019,NaN
3,2019-02-05,Minneapolis School District Bus,Minneapolis,MN,3,0,1,1,Male,Other Staff,...,Kenneth Lilli,31,M,Unknown,Unknown,No Relation,N,N,2019,NaN
4,2019-01-31,Atascocita High School,Atascocita,TX,4,0,1,1,Male,Student,...,Unknown,NaN,M,Unknown,Unknown,Student,Y,N,2019,NaN